[
    {
        "networkName": "Meraki",
        "uplinks": [
            {
                "wan1": "1.1.1.1"
            },
            {
                "wan2": "2.2.2.2"
            }
        ]
    }
]